In [4]:
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import os
import datetime
import time

# Crest Conference Rooms

In [3]:
os.chdir("Conf Rm - C225 (Crest)")

In [4]:
os.listdir()

['.Conf Rm - C209 (Crest) RESTRICTED.xls',
 '.Conf Rm - C212 RESTRICTED.xls',
 '.Conf Rm - C225 (Crest).xls',
 'Conf Rm - C209 (Crest) RESTRICTED.xls',
 'Conf Rm - C212 RESTRICTED.xls',
 'Conf Rm - C225 (Crest).xls']

In [20]:
C209=pd.read_excel("Conf Rm - C209 (Crest) RESTRICTED.xls")
C212=pd.read_excel("Conf Rm - C212 RESTRICTED.xls")
C225=pd.read_excel("Conf Rm - C225 (Crest).xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [21]:
C209["Room"]="C209"
C212["Room"]="C212"
C225["Room"]="C225"

In [39]:
print(673+467+474)

1614

In [40]:
Crest=pd.concat([C209,C212,C225])

In [41]:
Crest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1614 entries, 0 to 473
Data columns (total 23 columns):
Subject               1604 non-null object
StartDate             1614 non-null object
StartTime             1614 non-null object
EndDate               1614 non-null object
EndTime               1614 non-null object
Alldayevent           1614 non-null bool
Reminderonoff         1614 non-null bool
ReminderDate          1613 non-null object
ReminderTime          1613 non-null object
MeetingOrganizer      461 non-null object
RequiredAttendees     898 non-null object
OptionalAttendees     86 non-null object
MeetingResources      543 non-null object
BillingInformation    0 non-null float64
Categories            1 non-null object
Description           945 non-null object
Location              1080 non-null object
Mileage               0 non-null float64
Priority              1614 non-null object
Private               1614 non-null bool
Sensitivity           1614 non-null object
Showtimeas            1614 non-null int64
Room                  1614 non-null object
dtypes: bool(3), float64(2), int64(1), object(17)
memory usage: 269.5+ KB

# Maintainance Confrence Rooms

In [43]:
os.listdir()

['.Conf Rm - D102 (MaintReady Room).xls',
 '.Conf Rm - D131 (Maint).xls',
 'Conf Rm - D102 (MaintReady Room).xls',
 'Conf Rm - D131 (Maint).xls']

In [45]:
D102=pd.read_excel("Conf Rm - D102 (MaintReady Room).xls")
D131=pd.read_excel("Conf Rm - D131 (Maint).xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [46]:
D102["Room"]="D102"
D131["Room"]="D131"

In [51]:
print(1694+953)

2647

In [55]:
Maintainance.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2647 entries, 0 to 952
Data columns (total 23 columns):
Subject               2644 non-null object
StartDate             2647 non-null object
StartTime             2647 non-null object
EndDate               2647 non-null object
EndTime               2647 non-null object
Alldayevent           2647 non-null bool
Reminderonoff         2647 non-null bool
ReminderDate          2647 non-null object
ReminderTime          2647 non-null object
MeetingOrganizer      316 non-null object
RequiredAttendees     956 non-null object
OptionalAttendees     200 non-null object
MeetingResources      750 non-null object
BillingInformation    0 non-null float64
Categories            909 non-null object
Description           2388 non-null object
Location              1065 non-null object
Mileage               0 non-null float64
Priority              2647 non-null object
Private               2647 non-null bool
Sensitivity           2647 non-null object
Showtimeas            2647 non-null int64
Room                  2647 non-null object
dtypes: bool(3), float64(2), int64(1), object(17)
memory usage: 442.0+ KB

In [54]:
Maintainance=pd.concat([D102,D131])

# Headquarters Confrence Rooms

In [57]:
os.listdir()

['.Conf Rm - A124 (HQ).xls',
 '.Conf Rm - A136 (HQ).xls',
 '.Conf Rm - A143 (HQ).xls',
 '.Conf Rm - A168 (HQ).xls',
 '.Conf Rm - A226 (HQ).xls',
 '.Conf Rm - A235 (HQ).xls',
 '.Conf Rm - A236 (HQ).xls',
 '.Conf Rm - A318 (HQ).xls',
 '.Conf Rm - A345 (HQ).xls',
 '.Conf Rm - A346 (HQ).xls',
 '.Conf Rm - Boardroom (HQ).xls',
 '.Conf Rm - District Counsel (HQ).xls',
 'Conf Rm - A124 (HQ).xls',
 'Conf Rm - A136 (HQ).xls',
 'Conf Rm - A143 (HQ).xls',
 'Conf Rm - A168 (HQ).xls',
 'Conf Rm - A226 (HQ).xls',
 'Conf Rm - A235 (HQ).xls',
 'Conf Rm - A236 (HQ).xls',
 'Conf Rm - A318 (HQ).xls',
 'Conf Rm - A345 (HQ).xls',
 'Conf Rm - A346 (HQ).xls',
 'Conf Rm - Boardroom (HQ).xls',
 'Conf Rm - District Counsel (HQ).xls']

In [59]:
A124 = pd.read_excel("Conf Rm - A124 (HQ).xls")
A136 = pd.read_excel("Conf Rm - A136 (HQ).xls")
A143 = pd.read_excel("Conf Rm - A143 (HQ).xls")
A168 = pd.read_excel("Conf Rm - A168 (HQ).xls")
A226 = pd.read_excel("Conf Rm - A226 (HQ).xls")
A235 = pd.read_excel("Conf Rm - A235 (HQ).xls")
A236 = pd.read_excel("Conf Rm - A236 (HQ).xls")
A318 = pd.read_excel("Conf Rm - A318 (HQ).xls")
A345 = pd.read_excel("Conf Rm - A345 (HQ).xls")
A346 = pd.read_excel("Conf Rm - A346 (HQ).xls")
Boardroom = pd.read_excel("Conf Rm - Boardroom (HQ).xls")
District = pd.read_excel("Conf Rm - District Counsel (HQ).xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [60]:
A124["Room"]="A124 (HQ)"
A136["Room"]="A136 (HQ)"
A143["Room"]="A143 (HQ)"
A168["Room"]="A168 (HQ)"
A226["Room"]="A226 (HQ)"
A235["Room"]="A235 (HQ)"
A236["Room"]="A236 (HQ)"
A318["Room"]="A318 (HQ)"
A345["Room"]="A345 (HQ)"
A346["Room"]="A346 (HQ)"
Boardroom["Room"]="Boardroom (HQ)"
District["Room"]="District Counsel (HQ)"

In [66]:
HQcount=0
for x in [A124,A136,A143,A168,A226,A235,A236,A318,A345,A346,Boardroom,District]:
    HQcount+=len(x)

print(HQcount)

11760

In [67]:
HQ.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11760 entries, 0 to 141
Data columns (total 23 columns):
Subject               11736 non-null object
StartDate             11760 non-null object
StartTime             11760 non-null object
EndDate               11760 non-null object
EndTime               11760 non-null object
Alldayevent           11760 non-null bool
Reminderonoff         11760 non-null bool
ReminderDate          11760 non-null object
ReminderTime          11760 non-null object
MeetingOrganizer      4486 non-null object
RequiredAttendees     5482 non-null object
OptionalAttendees     875 non-null object
MeetingResources      1679 non-null object
BillingInformation    0 non-null float64
Categories            95 non-null object
Description           7352 non-null object
Location              8885 non-null object
Mileage               0 non-null float64
Priority              11760 non-null object
Private               11760 non-null bool
Sensitivity           11760 non-null object
Showtimeas            11760 non-null int64
Room                  11760 non-null object
dtypes: bool(3), float64(2), int64(1), object(17)
memory usage: 1.9+ MB

In [62]:
HQ=pd.concat([A124,A136,A143,A168,A226,A235,A236,A318,A345,A346,Boardroom,District])

# Admin Conference Rooms

In [69]:
os.chdir("/Users/adeniyiharrison/Desktop/Outlook Scheduling/Conf Rom - B228 (Admin) RESTRICTED")
os.listdir()

['.Conf Rm - B108 (Admin) - Old Board Room.xls',
 '.Conf Rm - B124 (Admin).xls',
 '.Conf Rm - B207 (Admin).xls',
 '.Conf Rm - B232 (Admin).xls',
 '.Conf Rom - B228 (Admin) RESTRICTED.xls',
 'Conf Rm - B108 (Admin) - Old Board Room.xls',
 'Conf Rm - B124 (Admin).xls',
 'Conf Rm - B207 (Admin).xls',
 'Conf Rm - B232 (Admin).xls',
 'Conf Rom - B228 (Admin) RESTRICTED.xls']

In [71]:
B108 = pd.read_excel("Conf Rm - B108 (Admin) - Old Board Room.xls")
B124 = pd.read_excel("Conf Rm - B124 (Admin).xls")
B207 = pd.read_excel("Conf Rm - B207 (Admin).xls")
B232 = pd.read_excel("Conf Rm - B232 (Admin).xls")
B228 = pd.read_excel("Conf Rom - B228 (Admin) RESTRICTED.xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [72]:
B108["Room"] = "B108 (Admin)"
B124["Room"] = "B124 (Admin)"
B207["Room"] = "B207 (Admin)"
B232["Room"] = "B232 (Admin)"
B228["Room"] = "B228 (Admin)"

In [73]:
adminCount=0
for x in [B108,B124,B207,B232,B228]:
    adminCount+= len(x)
    
print(adminCount)

6243

In [76]:
Admin.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6243 entries, 0 to 33
Data columns (total 23 columns):
Subject               6218 non-null object
StartDate             6243 non-null object
StartTime             6243 non-null object
EndDate               6243 non-null object
EndTime               6243 non-null object
Alldayevent           6243 non-null bool
Reminderonoff         6243 non-null bool
ReminderDate          6243 non-null object
ReminderTime          6243 non-null object
MeetingOrganizer      1627 non-null object
RequiredAttendees     2747 non-null object
OptionalAttendees     331 non-null object
MeetingResources      1898 non-null object
BillingInformation    0 non-null float64
Categories            75 non-null object
Description           5512 non-null object
Location              4723 non-null object
Mileage               0 non-null float64
Priority              6243 non-null object
Private               6243 non-null bool
Sensitivity           6243 non-null object
Showtimeas            6243 non-null int64
Room                  6243 non-null object
dtypes: bool(3), float64(2), int64(1), object(17)
memory usage: 1.0+ MB

In [75]:
Admin = pd.concat([B108,B124,B207,B232,B228])

# Maple Conference Rooms

In [77]:
os.chdir("/Users/adeniyiharrison/Desktop/Outlook Scheduling/Training Room - Maple (BHA)")
os.listdir()

['.Conf Rm - G111 (BHA).xls',
 '.Conf Rm - G112 (BHA).xls',
 '.Training Room - Computers (BHA).xls',
 '.Training Room - Evergreen (BHA).xls',
 '.Training Room - Maple (BHA).xls',
 'Conf Rm - G111 (BHA).xls',
 'Conf Rm - G112 (BHA).xls',
 'Training Room - Computers (BHA).xls',
 'Training Room - Evergreen (BHA).xls',
 'Training Room - Maple (BHA) (1).xls']

In [79]:
G111 = pd.read_excel("Conf Rm - G111 (BHA).xls")
G112 = pd.read_excel("Conf Rm - G112 (BHA).xls")
Computers = pd.read_excel("Training Room - Computers (BHA).xls")
Evergreen = pd.read_excel("Training Room - Evergreen (BHA).xls")
Maple = pd.read_excel("Training Room - Maple (BHA) (1).xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero
WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [80]:
G111["Room"] = "G111 (BHA)"
G112["Room"] = "G112 (BHA)"
Computers["Room"] = "Computers (BHA)"
Evergreen["Room"] = "Evergreen (BHA)"
Maple["Room"] = "Maple (BHA)"

In [81]:
mapleCount = 0
for x in [G111,G112,Computers,Evergreen,Maple]:
    mapleCount+=len(x)
    
print(mapleCount)

3976

In [83]:
Maple = pd.concat([G111,G112,Computers,Evergreen,Maple])

# 316 Confrence Room

In [84]:
os.chdir("/Users/adeniyiharrison/Desktop/Outlook Scheduling")
os.listdir()

['.DS_Store',
 '.ipynb_checkpoints',
 '101316 Conference Room Schedules.ipynb',
 'Conf Rm - C225 (Crest)',
 'Conf Rm - D102 (MaintReady Room)',
 'Conf Rm - District Counsel (HQ)',
 'Conf Rm -S103 (1).xls',
 'Conf Rom - B228 (Admin) RESTRICTED',
 'Conf. Rm R-316 Rinc.xls',
 'Training Room - Maple (BHA)']

In [86]:
conf316 = pd.read_excel("Conf. Rm R-316 Rinc.xls")

WARNING *** OLE2 inconsistency: SSCS size is 0 but SSAT size is non-zero

In [87]:
conf316["Room"] = "R-316 Rinc"

In [89]:
conf316.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 0 to 21
Data columns (total 23 columns):
Subject               22 non-null object
StartDate             22 non-null object
StartTime             22 non-null object
EndDate               22 non-null object
EndTime               22 non-null object
Alldayevent           22 non-null bool
Reminderonoff         22 non-null bool
ReminderDate          22 non-null object
ReminderTime          22 non-null object
MeetingOrganizer      0 non-null float64
RequiredAttendees     0 non-null float64
OptionalAttendees     0 non-null float64
MeetingResources      0 non-null float64
BillingInformation    0 non-null float64
Categories            0 non-null float64
Description           22 non-null object
Location              22 non-null object
Mileage               0 non-null float64
Priority              22 non-null object
Private               22 non-null bool
Sensitivity           22 non-null object
Showtimeas            22 non-null int64
Room                  22 non-null object
dtypes: bool(3), float64(7), int64(1), object(12)
memory usage: 3.7+ KB

# ALL COMBINE

In [91]:
allCount = 0
for x in [Crest,Maintainance,HQ,Admin,Maple,conf316]:
    allCount+=len(x)
    
print(allCount)

26262

In [93]:
schedulingData.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26262 entries, 0 to 21
Data columns (total 23 columns):
Subject               26199 non-null object
StartDate             26262 non-null object
StartTime             26262 non-null object
EndDate               26262 non-null object
EndTime               26262 non-null object
Alldayevent           26262 non-null bool
Reminderonoff         26262 non-null bool
ReminderDate          26261 non-null object
ReminderTime          26261 non-null object
MeetingOrganizer      7197 non-null object
RequiredAttendees     10554 non-null object
OptionalAttendees     1572 non-null object
MeetingResources      4940 non-null object
BillingInformation    0 non-null float64
Categories            3592 non-null object
Description           19850 non-null object
Location              19353 non-null object
Mileage               0 non-null float64
Priority              26262 non-null object
Private               26262 non-null bool
Sensitivity           26262 non-null object
Showtimeas            26262 non-null int64
Room                  26262 non-null object
dtypes: bool(3), float64(2), int64(1), object(17)
memory usage: 4.3+ MB

In [92]:
schedulingData = pd.concat([Crest,Maintainance,HQ,Admin,Maple,conf316])

In [94]:
schedulingData.to_csv("Outlook Scheduling Data.csv")

# Date/Time Data Cleaning

In [95]:
schedulingData.head()

,Subject,StartDate,StartTime,EndDate,EndTime,Alldayevent,Reminderonoff,ReminderDate,ReminderTime,MeetingOrganizer,...,BillingInformation,Categories,Description,Location,Mileage,Priority,Private,Sensitivity,Showtimeas,Room
0,Reserved for Halloween Event,10/31/2016,9:00:00 AM,10/31/2016,4:00:00 PM,False,True,10/31/2016,8:45:00 AM,NaN,...,NaN,NaN,\r\n,.Conf Rm - C209 (Crest) RESTRICTED,NaN,Normal,False,Normal,2,C209
1,Webinar: Structured Hiring Panel,9/27/2016,11:00:00 AM,9/27/2016,12:00:00 PM,False,True,9/27/2016,10:45:00 AM,NaN,...,NaN,NaN,"Dear Peggy, \r\nThank you for registering for ...",.Conf Rm - C209 (Crest) RESTRICTED,NaN,Normal,False,Normal,3,C209
2,Review New Budget Process - Nancy x2358,9/21/2016,4:00:00 PM,9/21/2016,5:00:00 PM,False,True,9/21/2016,3:45:00 PM,NaN,...,NaN,NaN,\r\n,NaN,NaN,Normal,False,Normal,2,C209
3,Sherilyn x2772,10/18/2016,10:30:00 AM,10/18/2016,11:30:00 AM,False,True,10/18/2016,10:25:00 AM,NaN,...,NaN,NaN,\r\n,NaN,NaN,Normal,False,Normal,2,C209
4,Technology needs for Recruitment Team,9/28/2016,9:00:00 AM,9/28/2016,10:00:00 AM,False,True,9/28/2016,8:45:00 AM,NaN,...,NaN,NaN,\r\n,.Conf Rm - C209 (Crest) RESTRICTED,NaN,Normal,False,Normal,2,C209

In [97]:
df=schedulingData.copy()

In [122]:
datetime.datetime.strptime(df["StartDate"].iloc[0], "%m/%d/%Y").date()

datetime.date(2016, 10, 31)

### Format start and end dates

In [124]:
formatStartDate=[]
for x in df["StartDate"]:
    formatStartDate.append(datetime.datetime.strptime(x,"%m/%d/%Y").date())

In [127]:
formatEndDate=[]
for x in df["EndDate"]:
    formatEndDate.append(datetime.datetime.strptime(x,"%m/%d/%Y").date())

### Format start and end times

In [210]:
formatStartTime = []
for x in df["StartTime"]:
    formatStartTime.append(datetime.datetime.strptime(x, '%I:%M:%S %p').time())

In [211]:
formatEndTime = []
for x in df["EndTime"]:
    formatEndTime.append(datetime.datetime.strptime(x, '%I:%M:%S %p').time())

### Combine dates and times

In [214]:
formatStartDateTime=[]
for x in range(len(formatStartTime)):
    formatStartDateTime.append(datetime.datetime.combine(formatStartDate[x],formatStartTime[x]))

In [215]:
formatEndDateTime=[]
for x in range(len(formatEndTime)):
    formatEndDateTime.append(datetime.datetime.combine(formatEndDate[x],formatEndTime[x]))

### Add formatted Date and Time to dataframe

In [216]:
df["Clean Start DateTime"] = formatStartDateTime
df["Clean End DateTime"] = formatEndDateTime

### Calculate Meeting Length

In [220]:
df["Meeting Length"] = df["Clean End DateTime"] - df["Clean Start DateTime"]

In [234]:
df["Meeting Length"].mean()

Timedelta('0 days 06:23:45.257025')

In [239]:
df["Clean Start DateTime"].min()

Timestamp('2015-06-11 07:00:00')

In [240]:
df["Clean Start DateTime"].max()

Timestamp('2016-12-01 17:00:00')

# Calculate Number of Occupants per Meeting

In [251]:
df[["RequiredAttendees","OptionalAttendees"]].head()

                                   RequiredAttendees OptionalAttendees
0                                                NaN               NaN
1  Courtney Letts;Debra Williams;Dolores Grissom;...               NaN
2                                                NaN               NaN
3                                                NaN               NaN
4  Sudhanshu Tikekar;Courtney Letts;Gauri Khanna;...               NaN

In [270]:
df["RequiredAttendees"].iloc[1].split(";")

['Courtney Letts',
 'Debra Williams',
 'Dolores Grissom',
 'Gauri Khanna',
 'Sherry Smith']

In [295]:
df["RequiredAttendees"].iloc[0] ==

True

In [263]:
type(df["RequiredAttendees"].iloc[1])

str

In [302]:
requiredCount=[]
for x in df["RequiredAttendees"]:
    try:
        requiredCount.append(len(x.split(";")))
    except:
        requiredCount.append(np.nan)
        
requiredCount[:5]

[nan, 5, nan, nan, 4]

In [303]:
optionalCount = []
for x in df["OptionalAttendees"]:
    try:
        optionalCount.append(len(x.split(";")))
    except:
        optionalCount.append(np.nan)

optionalCount[:5]

[nan, nan, nan, nan, nan]

In [304]:
df["Required Count"] = requiredCount
df["Optional Count"] = optionalCount

In [602]:
df["Total Members"] = df["Total Members"] = df["Required Count"].fillna(0)+df["Optional Count"].fillna(0)+1

# Remove and Rearrange Columns

In [319]:
df=df.drop(["Alldayevent","Reminderonoff","ReminderDate","ReminderTime","MeetingOrganizer","BillingInformation","Categories","Description","Mileage","Showtimeas"],axis=1)

columns = ["Room","Subject","Clean Start DateTime","Clean End DateTime","Meeting Length",
              "Required Count","Optional Count","Total Members","Location","RequiredAttendees","OptionalAttendees",
             "Subject","StartDate","StartTime","EndDate","EndTime","Priority","Private","Sensitivity"]

df=df[columns]

# Trip data to one year

In [351]:
df["Clean Start DateTime"].min()

Timestamp('2015-06-11 07:00:00')

In [352]:
df["Clean End DateTime"].max()

Timestamp('2016-12-02 00:00:00')

### Date range between 10/13/15 and 10/13/16

In [364]:
df=df.sort(["Clean Start DateTime","Clean End DateTime"],ascending = [True,False])

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

In [366]:
df=df[(df["Clean Start DateTime"] >= "2015-10-13") & (df["Clean End DateTime"] <= "2016-10-13")]

In [370]:
df=df.reset_index()
df.drop("index",axis=1,inplace=True)
df.head()

,Room,Subject,Clean Start DateTime,Clean End DateTime,Meeting Length,Required Count,Optional Count,Total Members,Location,RequiredAttendees,OptionalAttendees,Subject,StartDate,StartTime,EndDate,EndTime,Priority,Private,Sensitivity
0,D102,"Lenovo, Projector, Flatscreen",2015-10-13,2015-10-14,1 days,NaN,NaN,0,NaN,NaN,NaN,"Lenovo, Projector, Flatscreen",10/13/2015,12:00:00 AM,10/14/2015,12:00:00 AM,Normal,False,Normal
1,A136 (HQ),Capacity: 10-16,2015-10-13,2015-10-14,1 days,NaN,NaN,0,Ext. 2001,NaN,NaN,Capacity: 10-16,10/13/2015,12:00:00 AM,10/14/2015,12:00:00 AM,Normal,False,Normal
2,A168 (HQ),"PC, Projector",2015-10-13,2015-10-14,1 days,NaN,NaN,0,NaN,NaN,NaN,"PC, Projector",10/13/2015,12:00:00 AM,10/14/2015,12:00:00 AM,Normal,False,Normal
3,A168 (HQ),"Ext. 2593-Capacity 10-12 -Reserve thru, Rita (...",2015-10-13,2015-10-14,1 days,NaN,NaN,0,"Polycom, Lenovo, Projector",NaN,NaN,"Ext. 2593-Capacity 10-12 -Reserve thru, Rita (...",10/13/2015,12:00:00 AM,10/14/2015,12:00:00 AM,Normal,False,Normal
4,A236 (HQ),Ext. 2699 - Capacity 10-12,2015-10-13,2015-10-14,1 days,NaN,NaN,0,NaN,NaN,NaN,Ext. 2699 - Capacity 10-12,10/13/2015,12:00:00 AM,10/14/2015,12:00:00 AM,Normal,False,Normal

# Room Capacity Data from Contact Notebook

In [390]:
df["Room"].value_counts()

B232 (Admin)             1530
A168 (HQ)                1455
B207 (Admin)             1294
A346 (HQ)                1281
A236 (HQ)                1280
D102                     1263
B124 (Admin)             1224
A235 (HQ)                1154
A318 (HQ)                 998
A345 (HQ)                 958
Evergreen (BHA)           957
Computers (BHA)           902
Maple (BHA)               876
A143 (HQ)                 824
B108 (Admin)              810
D131                      735
A136 (HQ)                 615
C209                      562
C225                      396
C212                      392
A226 (HQ)                 322
G112 (BHA)                295
Boardroom (HQ)            256
A124 (HQ)                 186
District Counsel (HQ)     106
B228 (Admin)               26
R-316 Rinc                  8
G111 (BHA)                  3
Name: Room, dtype: int64

In [126]:
capacity = [{u"Room":"B108 (Admin)", "Capacity":68},
{"Room": "B120 (Admin)", "Capacity":10},
{"Room": "B124 (Admin)", "Capacity": 10},
{"Room": "B207 (Admin)", "Capacity": 12},
{"Room": "B232 (Admin)", "Capacity": 12},
{"Room": "Computers (BHA)","Capacity": 11},
{"Room": "Evergreen (BHA)", "Capacity": 40},
{"Room": "Madrone", "Capacity": 5},
{"Room": "Maple (BHA)", "Capacity": 15},
{"Room": "A124 (HQ)", "Capacity": np.nan},
{"Room": "Boardroom (HQ)", "Capacity": 130},
{"Room": "Lobby Boardroom (HQ)", "Capacity": 50},
{"Room": "A104 (HQ)", "Capacity": 3},
{"Room": "A105 (HQ)", "Capacity": 4},
{"Room": "A136 (HQ)", "Capacity": 16},
{"Room": "A143 (HQ)", "Capacity": 40},
{"Room": "A162 (HQ)", "Capacity": 12},
{"Room": "A168 (HQ)", "Capacity": 20},
{"Room": "A173 (HQ)", "Capacity": 12},
{"Room": "A235 (HQ)", "Capacity": 12},
{"Room": "A236 (HQ)", "Capacity": 12},
{"Room": "A237 (HQ)", "Capacity": 6},
{"Room": "A238 (HQ)", "Capacity": 6},
{"Room": "A314 (HQ)", "Capacity": 6},
{"Room": "A315 (HQ)", "Capacity": 6},
{"Room": "A318 (HQ)", "Capacity": 12},
{"Room": "A345 (HQ)", "Capacity": 6},
{"Room": "A346 (HQ)", "Capacity": 6},
{"Room": "D131", "Capacity": 10},
{"Room": "2nd Floor EOC", "Capacity": 12},
{"Room": "Ready Room", "Capacity": 75}]

### Capacity DataFrame Creation

In [133]:
capacity=DataFrame(capacity)
capacity.set_index("Room",inplace=True)
capacity.head()

              Capacity
Room
B108 (Admin)      68.0
B120 (Admin)      10.0
B124 (Admin)      10.0
B207 (Admin)      12.0
B232 (Admin)      12.0

### Merge Capacity to DF

In [611]:
df=df.merge(capacity,how="left",left_on="Room",right_index=True)

# Missing Data

### Confrence Rooms missing from Contact Notebook and value counts

In [632]:
df[pd.isnull(df["Capacity"])]["Room"].value_counts()

D102                     1263
C209                      562
C225                      396
C212                      392
A226 (HQ)                 322
G112 (BHA)                295
A124 (HQ)                 186
District Counsel (HQ)     106
B228 (Admin)               26
R-316 Rinc                  8
G111 (BHA)                  3
Name: Room, dtype: int64

In [ ]:
# 11 Rooms with schduling data however no capacity data

In [137]:
facilities[facilities["Room Code"] == "C-209"]

,Building Code,Floor Code,Room Code,Room Area,Room Category,Room Type,Room Standard,Executive Code,Chief Code,Division Code,Unit Code
454,CR,2,C-209,210.4,SUPPORT,CONFERENCE,CONF-RM,NaN,999.0,999.0,NaN

### Confrence Rooms with Capacity Data without Schduling Data

In [629]:
missing = []
for x in capacity.index:
    if x not in df["Room"].unique():
        missing.append(x)
    else:
        pass

print(missing)

['B120 (Admin)', 'Madrone', 'Lobby Boardroom (HQ)', 'A104 (HQ)', 'A105 (HQ)', 'A162 (HQ)', 'A173 (HQ)', 'A237 (HQ)', 'A238 (HQ)', 'A314 (HQ)', 'A315 (HQ)', '2nd Floor EOC', 'Ready Room']

In [630]:
len(missing)

13

In [ ]:
#13 Rooms with capacity data but no scheduling data

### Confrence Rooms vs Facilities Allocations Data

In [7]:
facilities = pd.read_excel("Facilities Allocation Data.xlsx",sheetname = "Rooms", header = 8)

In [22]:
roomType = facilities["Room Type"].unique().tolist()

In [ ]:
conference = facilities[(facilities["Room Type"] == "CONFERENCE") | (facilities["Room Type"] == "BRD_CNF_RM")]

In [47]:
conference.head()

,Building Code,Floor Code,Room Code,Room Area,Room Category,Room Type,Room Standard,Executive Code,Chief Code,Division Code,Unit Code
2,ADM,1,B-104,126.20,SUPPORT,CONFERENCE,CONF-RM,NaN,999.0,999.0,NaN
7,ADM,1,B-108,1135.88,SUPPORT,CONFERENCE,CONF-RM,NaN,999.0,999.0,NaN
22,ADM,1,B-124,229.23,SUPPORT,CONFERENCE,CONF-RM,NaN,999.0,999.0,NaN
137,ADM,2,B-207,202.13,SUPPORT,CONFERENCE,CONF-RM,NaN,999.0,999.0,NaN
207,ADM,2,B-232,216.13,SUPPORT,CONFERENCE,CONF-RM,NaN,999.0,999.0,NaN

In [111]:
conferenceRoomCode = {
    "B-104": np.nan,
    "B-108": "B108 (Admin)",
    "B-124": "B124 (Admin)",
    "B-207": "B207 (Admin)",
    "B-232": "B232 (Admin)",
    "G-120": np.nan,
    "G-121": np.nan,
    "G-112": "G112 (BHA)",
    "G-122": np.nan,
    "K-405": np.nan,
    "C-209": "C209",
    "C-212": "C212",
    "C-225": "C225",
    "A-120": np.nan,
    "A-124": "A124 (HQ)",
    "A-136": "A136 (HQ)",
    "A-138": np.nan,
    "A-143": "A143 (HQ)",
    "A-168": "A168 (HQ)",
    "A-173": np.nan,
    "A-226": "A226 (HQ)",
    "A-235": "A235 (HQ)",
    "A-236": "A236 (HQ)",
    "A-237": np.nan,
    "A-238": np.nan,
    "A-343": np.nan,
    "A-344": np.nan,
    "A-345": "A345 (HQ)",
    "A-346": "A346 (HQ)",
    "A318": "A318 (HQ)",
    "D-131": "D131",
    "P-304": np.nan,
    "PO-104": np.nan,
    "R-228": np.nan,
    "R-316": "R-316 Rinc",
    "S-103": np.nan,
    "L-117": np.nan,
    "L-156": np.nan,
}

In [112]:
conference["Room Code 2"] = conference["Room Code"].apply(lambda x: conferenceRoomCode[x])

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

#### Conference Rooms in Facilities Allocation Data but no Outlook Scheduling Data

In [148]:
conference[pd.isnull(conference["Room Code 2"])]["Room Code"]

2        B-104
376      G-120
377      G-121
378      G-122
419      K-405
501      A-120
561      A-138
606      A-173
833      A-237
834      A-238
1025     A-343
1026     A-344
1262     P-304
1271    PO-104
1349     R-228
1518     S-103
1614     L-117
1677     L-156
Name: Room Code, dtype: object

#### Conference Rooms with Outlook Schduling Data with not in Facilities Allocation Data

In [114]:
missing2 = []
for x in df["Room"].unique():
    if x in conference[pd.notnull(conference["Room Code 2"])]["Room Code 2"].tolist():
        pass
    else:
        missing2.append(x)

missing2

['D102',
 'Computers (BHA)',
 'Evergreen (BHA)',
 'Maple (BHA)',
 'Boardroom (HQ)',
 'District Counsel (HQ)',
 'B228 (Admin)',
 'G111 (BHA)']

In [181]:
df["Room"].unique().tolist()

['D102',
 'A136 (HQ)',
 'A168 (HQ)',
 'A236 (HQ)',
 'A346 (HQ)',
 'B124 (Admin)',
 'B207 (Admin)',
 'B232 (Admin)',
 'Computers (BHA)',
 'Evergreen (BHA)',
 'Maple (BHA)',
 'C209',
 'A143 (HQ)',
 'A235 (HQ)',
 'D131',
 'A226 (HQ)',
 'C212',
 'A318 (HQ)',
 'B108 (Admin)',
 'C225',
 'A124 (HQ)',
 'Boardroom (HQ)',
 'A345 (HQ)',
 'District Counsel (HQ)',
 'G112 (BHA)',
 'B228 (Admin)',
 'G111 (BHA)',
 'R-316 Rinc']

# Percentage of Reservations that have Actual optional or required Optional Attendees

In [7]:
df2 = pd.read_csv("Outlook Scheduling Data_Filtered.csv",encoding='latin-1')

In [32]:
room = []
attend = []
total =[]
for x in df2["Room"].unique():
    multiple = 0
    solo = 0
    room.append(x)
    total.append(len(df2[df2["Room"]==x]))
    for x,y in zip(df2[df2["Room"]==x]["Optional Count"],df2[df2["Room"]==x]["Required Count"]):
        if (x > 0) | (y > 0):
            multiple+=1
        else:
            solo+=1
    
    attend.append((multiple/(multiple+solo)))
    

attendees = pd.DataFrame(data = {"% of Bookings with Attendees":attend, "Total Number of Bookings":total},index = room)
attendees.sort(["Total Number of Bookings","% of Bookings with Attendees"],ascending = False)

//anaconda/lib/python3.5/site-packages/ipykernel/__main__.py:19: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

                       % of Bookings with Attendees  Total Number of Bookings
B232 (Admin)                               0.488889                      1530
A168 (HQ)                                  0.008935                      1455
B207 (Admin)                               0.462906                      1294
A346 (HQ)                                  0.526151                      1281
A236 (HQ)                                  0.575781                      1280
D102                                       0.144893                      1263
B124 (Admin)                               0.468954                      1224
A235 (HQ)                                  0.792894                      1154
A318 (HQ)                                  0.555110                       998
A345 (HQ)                                  0.808977                       958
Evergreen (BHA)                            0.079415                       957
Computers (BHA)                            0.062084                       902
Maple (BHA)                                0.098174                       876
A143 (HQ)                                  0.362864                       824
B108 (Admin)                               0.302469                       810
D131                                       0.730612                       735
A136 (HQ)                                  0.143089                       615
C209                                       0.555160                       562
C225                                       0.797980                       396
C212                                       0.316327                       392
A226 (HQ)                                  0.350932                       322
G112 (BHA)                                 0.572881                       295
Boardroom (HQ)                             0.765625                       256
A124 (HQ)                                  0.870968                       186
District Counsel (HQ)                      0.000000                       106
B228 (Admin)                               0.000000                        26
R-316 Rinc                                 0.000000                         8
G111 (BHA)                                 0.666667                         3

In [33]:
attendees.mean()

% of Bookings with Attendees      0.411026
Total Number of Bookings        739.571429
dtype: float64